*{
  font-family:"Gill Sans", sans-serif;
}

h1,h2 {
  font-family: Courier, sans-serif;
}

#header1 {
  background:  url(../images/apples.jpg) center center;
  background-size: cover;
  height: 25em;
}

#header2 {
  background:  url(../images/fire.jpg) center center;
  background-size: cover;
  height: 25em;
}

#header3 {
  background:  url(../images/thingstobuy.jpg) center center;
  background-size: cover;
  height: 25em;
}

#header4{
  background:  url(../images/TCAT.jpg) center center;
  background-size: cover;
  height: 25em;
}

nav {
  font-family: verdana, sans-serif;
  background-color:#528e58
}

h1{
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color:#06570e;
}

h2, h3{
  text-align: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

nav ul li {
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff
}

a:hover {
  color: red;
}


.page-content {
  display: flex;
  flex-direction: row;

}

.main{
  padding: 100px;
  padding:100px;
}

.alerts{
  border: solid 6px red;
  margin: 40px;
  text-align: center;
  font-size:20px;
}

p{
  padding: 10px;
  font-size:20px;
}

p a {
  text-decoration: none;
  color: green;
}

.alerts p {
  padding: 5px;
}


aside {
  background-color: #c4e8bc;
  width: 400px;
  min-width: 300px;
  text-align: center;
}

table {
  width: 900px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

}

.schedule{
  text-align: center;
}
th, td {
  padding: 7px 10px 10px 10px;
  text-align:center;}

th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid #111111;
  text-align: center;}

.activity1{
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
  border-bottom: dashed 4px green;
}

.activity2{
  display: flex;
  padding-bottom: 10px;
  border-bottom: dashed 4px green;
}

.itemssold {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin-top: 20px;
  margin-bottom: 2%;
  align-items: center;
  justify-content: center;
  }

figure {
  align-self: auto;
  width: 202px;
  height: 180px;
  background-color: #e7e3d8;
  padding: 5px;
  text-align: center;}
figure img {
  width: 200px;
  height: 150px;
  border: 1px solid #d6d6d6;}
figcaption {
  text-align: center;
  font-weight: bold;
  color: #02441c;}

img.left-align {
    float: left;
    margin-right: 10px;
    width: 25%;
    height: 100%;}

img.right-align {
    float: right;
    width: 25%;
    height: 100%;}

.directions, .parking{
  border: double 4px green;
  border-radius: 20px;
  margin: 100px;
  padding: 10px;
}

footer {
  color: #ffffff;
  background-color: #1b6334;
  font-family: sans-serif;
  text-align: center;
  font-size: .8em;
  padding: 1em;
    }
