*{
  font-family:"Gill Sans", sans-serif;
}

h1,h2 {
  font-family: Courier, sans-serif;
}

#header1 {
  background:  url(../images/apples.jpg) center center;
  background-size: cover;
  height: 25em;
}

#header2 {
  background:  url(../images/fire.jpg) center center;
  background-size: cover;
  height: 25em;
}

#header3 {
  background:  url(../images/thingstobuy.jpg) center center;
  background-size: cover;
  height: 25em;
}

#header4{
  background:  url(../images/TCAT.jpg) center center;
  background-size: cover;
  height: 25em;
}

nav {
  font-family: verdana, sans-serif;
  background-color:#528e58
}

h1{
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color:#06570e;
}

h2, h3{
  text-align: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

nav ul li {
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff
}

a:hover {
  color: red;
}

footer p {
  padding: 0px;
}


.page-content {
  display: flex;
  flex-direction: row;

}

.main{
  padding: 100px;
  padding:100px;
}

.alerts{
  border: solid 6px red;
  margin: 40px;
  text-align: center;
  font-size:20px;
}

p{
  padding: 10px;
  font-size:20px;
}

p a {
  text-decoration: none;
  color: green;
}

.alerts p {
  padding: 5px;
}


aside {
  flex-grow: 1;
  background-color: #c4e8bc;
  min-width: 300px;
  min-height:100%;
  text-align: center;
}

footer{
  height: 100%;
  bottom: 0px;
}
#asidebuy{
  max-width: 300px;
}

.schedule1 table {
  width: 900px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

}

.schedule2 table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  justify-content: center;
}

.schedule1{
  text-align: center;
}
th, td {
  padding: 7px 10px 10px 10px;
  text-align:center;}

th {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid #111111;
  text-align: center;}

.activity1{
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
  border-bottom: dashed 4px green;
}

.activity2{
  display: flex;
  padding-bottom: 10px;
  border-bottom: dashed 4px green;
}

.itemssold {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin-top: 20px;
  margin-bottom: 2%;
  align-items: center;
  justify-content: center;
  }

figure {
  align-self: auto;
  width: 260px;
  height: 240px;
  background-color: #e7e3d8;
  padding: 5px;
  text-align: center;}
figure img {
  margin-top: 7px;
  width: 235px;
  height: 170px;
  border: 1px solid #d6d6d6;}
figcaption {
  text-align: center;
  font-weight: bold;
  color: #02441c;}

img.left-align {
    float: left;
    margin-right: 10px;
    width: 100%;
    height: auto;}
.directions, .parking{
  border: double 4px green;
  border-radius: 20px;
  margin: 100px;
  padding: 10px;
}

cite{
  font-size: 12px;
  text-align: left;
}

footer {
  color: black;
  height: 250px;
  background-color: #c9dbbf;
  font-family: sans-serif;
  text-align: center;
  font-size: .8em;
  padding: 1em;
    }

.schedule2 {
  display:none;
}
/* mobile */
@media (max-width: 850px) {
  .page-content {
    flex-flow: column;
  }
  .activity1{
    flex-flow: column;
    max-width: 100%;
  }


  .activity2{
    flex-flow: column;
  }
  .schedule1 {
    display: none;
  }

  .schedule2{
    display: block;
  }

  aside{
    max-width: none;
    height: 100%;
  }

  #asidebuy{
    width: 100%;
    max-width: none;
  }

  img.left-align {
    max-width: 100%;
    height: auto;
  }

  .directions, .parking{
    margin: 10px;}
}
